/*

  Initial Variables
  ----------------------------------------------------------------------------

  Here we define some basic variables like colors and a default font family.

  These variables should NOT be accessed directly by any CSS rule.
  Instead, define a new variable depending on what you need and set its
  value to one of these variables.

  The rule of thumb here is: any color present on the website or project
  we are working on, should be listed here.

  ie.
  $link-color: $black;

  Any variables that alter the layout like container sizes or responsive
  breakpoints should be defined here as well.

*/


//  Colors
$black:        rgb(0, 0, 0) !default;
$white:        rgb(255, 255, 255) !default;
$grey:         rgb(242, 242, 242) !default;
$dark-grey:    rgb(68, 68, 68) !default;
//  Add or remove colors according to project needs.

//  Line height
$global-line-height: 1.5;

//  Font size
$base-font-size: 16px;
$base-font-weight: 400;
