/**

  Initial Variables
  ----------------------------------------------------------------------------

  All project mixins should live in this file.

 */

/**
  Mixin that adds a soft transition to all attributes
 */
@mixin soft_transition() {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/**
  Mixin to create responsive images preserving the aspect ratio.
  @param $height-percentage - Image height/width ratio as a percentage, defaults to 100% aka a square image.
  @param $force-stretch - Force the image to have a min-width of 100%
 */
@mixin responsive_img( $height-percentage: 100%, $force-stretch: true) {
  position: relative;
  overflow: hidden;

  img {
    max-width: unset;
    position: absolute;
    height: 100%;
    width: auto;

    @if $force-stretch {
      min-width: 100%;
    }
  }

  &::after {
    content: '';
    display: block;
    padding-bottom: $height-percentage;
  }
}

/**
  Mixin to create unselectable elements.
*/
@mixin unselectable() {
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
}