/*

  Base
  ----------------------------------------------------------------------------

  Use this file to set some basic global styling and extra resets if you need to.


*/

//  Variables

//$main-font: $font-apercu;
$link-color: $black;

//  Rules

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  line-height: $global-line-height;
  //font-family: $main-font;
  font-size: $base-font-size;
  font-weight: $base-font-weight;

  &.no-scroll {
    overflow: hidden !important;
  }
}

button,
input,
optgroup,
select,
textarea {
  //font-family: $main-font;
}

a {
  color: $link-color;
}

p {
  margin: 0;

  &:not(:last-child) {
    margin-bottom: 1.125rem;
  }
}

ul, ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

figure {
  margin: 0;
  line-height: 1;
}

img {
  max-width: 100%;
}

input:focus {
  outline: none;
}

//  Uncomment to set selection background and text colors
//::selection {
//  background: $accent; /* WebKit/Blink Browsers */
//  color: $text-color;
//}
//::-moz-selection {
//  background: $accent; /* Gecko Browsers */
//  color: $text-color;
//}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}
